# Project Overview
The City of Chicago Vehicle Safety Board (CCVSB) interested in reducing traffic accidents and becoming aware of any interesting patterns.

# Business Problem

The business problem is to build a classifier that can predict the primary contributory cause of car accidents in Chicago city.

# Data
The dataset was from Chicago city. Their were three datasets that was obtain from Chicago Data Portal:

    * Traffic_Crashes_-_People 
    * Traffic_Crashes_-_Vehicles
    * Traffic_Crashes_-_Crashes
The data provides up-to-date information as per now May 2023 from 2015.The two datasets was cleaned and merged to one.

# Data Grocery




# Recording the Experimental Design

To record the experimental design for building the classifier to predict the primary contributory cause of car accidents in Chicago, I used the following steps:

* Data Collection:  I gather vehicle and people accident data from https://data.cityofchicago.org/Transportation/Traffic-Crashes-Vehicles/68nd-jvt3  and https://data.cityofchicago.org/Transportation/Traffic-Crashes-People/u6pd-qa9d 

* Data Preprocessing: Clean the data by handling missing values, inconsistencies, and outliers.
                      Transform categorical variables into numerical representations suitable for machine learning algorithms.
                      Normalize or standardize numerical features if necessar

* Exploratory Data Analysis (EDA): Perform exploratory analysis to understand the characteristics and distributions of variables.
                                   Identify patterns, correlations, or any interesting insights within the data.
                                   Visualize the data using plots, charts, or graphs to aid in understanding.

* Feature Engineering:Extract relevant features from the available data that may contribute to predicting the primary contributory cause of car accidents.
* Target Variable Binning: Analyze the distribution of the primary contributory cause categories.
Merge or eliminate categories with very few samples to limit the number of target categories.                                  

* Feature Selection: Select the most informative features that are likely to have a significant impact on the prediction.

* Model Selection and Training:Choose a suitable machine learning algorithm for multi-class classification, considering factors like performance, interpretability, and scalability.Split the preprocessed data into training and testing sets.
Train the chosen model on the training data using appropriate algorithms and methodologies.
* Model Evaluation:Evaluate the trained model's performance using relevant evaluation metrics for multi-class classification, such as accuracy, precision, recall, F1-score, or confusion matrix.Perform cross-validation techniques like k-fold cross-validation to assess the model's robustness.
* Model Optimization:Fine-tune the model by optimizing hyperparameters to improve its performance.
Use techniques like grid search, random search.
* Predictions and Interpretation:Use the optimized model to predict the primary contributory cause of car accidents for new instances.
Analyze the predictions and interpret the results to gain insights into patterns, potential causes, or any interesting findings that can aid accident prevention efforts.
* Reporting and Recommendations:Summarize the findings and insights obtained from the classifier.
Provide actionable recommendations for the Vehicle Safety Board or the City of Chicago based on the analysis and predictions.

# Loading the datasets

In [29]:
# importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [30]:
# Reading csv file
people=pd.read_csv('Traffic_Crashes_-_People.csv')
vehicles=pd.read_csv('Traffic_Crashes_-_Vehicles.csv')
crashes=pd.read_csv('Traffic_Crashes_-_Crashes.csv')

C:\Users\iantu\AppData\Local\Temp\ipykernel_4972\883450463.py:2: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  people=pd.read_csv('Traffic_Crashes_-_People.csv')
C:\Users\iantu\AppData\Local\Temp\ipykernel_4972\883450463.py:3: DtypeWarning: Columns (2,19,21,40,41,42,44,48,49,50,53,55,58,59,61,71) have mixed types. Specify dtype option on import or set low_memory=False.
  vehicles=pd.read_csv('Traffic_Crashes_-_Vehicles.csv')

In [31]:
# A function to print the shape of our datasets
def print_dataset_shape(*datasets):
    """
    Prints the shape of one or more datasets (number of rows and columns).
    Assumes datasets are in a Pandas DataFrame format.
    """
    for idx, dataset in enumerate(datasets):
        print(f"Dataset {idx + 1} - Number of rows: {dataset.shape[0]}")
        print(f"Dataset {idx + 1} - Number of columns: {dataset.shape[1]}")
# print the shape of our dataset
print_dataset_shape(people, vehicles,crashes)

Dataset 1 - Number of rows: 1584616
Dataset 1 - Number of columns: 30
Dataset 2 - Number of rows: 1472816
Dataset 2 - Number of columns: 72
Dataset 3 - Number of rows: 722809
Dataset 3 - Number of columns: 49

In [32]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1584616 entries, 0 to 1584615
Data columns (total 30 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PERSON_ID              1584616 non-null  object
 1   PERSON_TYPE            1584616 non-null  object
 2   CRASH_RECORD_ID        1584616 non-null  object
 3   RD_NO                  1574225 non-null  object
 4   VEHICLE_ID             1553626 non-null  float64
 5   CRASH_DATE             1584616 non-null  object
 6   SEAT_NO                320590 non-null   float64
 7   CITY                   1156363 non-null  object
 8   STATE                  1172272 non-null  object
 9   ZIPCODE                1057964 non-null  object
 10  SEX                    1559451 non-null  object
 11  AGE                    1123239 non-null  float64
 12  DRIVERS_LICENSE_STATE  931218 non-null   object
 13  DRIVERS_LICENSE_CLASS  785449 non-null   object
 14  SAFETY_EQUIPMENT       1580144 non-null  object
 15  AIRBAG_DEPLOYED        1554823 non-null  object
 16  EJECTION               1565274 non-null  object
 17  INJURY_CLASSIFICATION  1583928 non-null  object
 18  HOSPITAL               270739 non-null   object
 19  EMS_AGENCY             167981 non-null   object
 20  EMS_RUN_NO             27702 non-null    object
 21  DRIVER_ACTION          1261166 non-null  object
 22  DRIVER_VISION          1260713 non-null  object
 23  PHYSICAL_CONDITION     1262045 non-null  object
 24  PEDPEDAL_ACTION        29391 non-null    object
 25  PEDPEDAL_VISIBILITY    29333 non-null    object
 26  PEDPEDAL_LOCATION      29390 non-null    object
 27  BAC_RESULT             1262189 non-null  object
 28  BAC_RESULT VALUE       1859 non-null     float64
 29  CELL_PHONE_USE         1158 non-null     object
dtypes: float64(4), object(26)
memory usage: 362.7+ MB

In [33]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472816 entries, 0 to 1472815
Data columns (total 72 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   CRASH_UNIT_ID             1472816 non-null  int64
 1   CRASH_RECORD_ID           1472816 non-null  object
 2   RD_NO                     1463413 non-null  object
 3   CRASH_DATE                1472816 non-null  object
 4   UNIT_NO                   1472816 non-null  int64
 5   UNIT_TYPE                 1470808 non-null  object
 6   NUM_PASSENGERS            218014 non-null   float64
 7   VEHICLE_ID                1439674 non-null  float64
 8   CMRC_VEH_I                27533 non-null    object
 9   MAKE                      1439669 non-null  object
 10  MODEL                     1439525 non-null  object
 11  LIC_PLATE_STATE           1308626 non-null  object
 12  VEHICLE_YEAR              1206500 non-null  float64
 13  VEHICLE_DEFECT            1439674 non-null  object
 14  VEHICLE_TYPE              1439674 non-null  object
 15  VEHICLE_USE               1439674 non-null  object
 16  TRAVEL_DIRECTION          1439674 non-null  object
 17  MANEUVER                  1439674 non-null  object
 18  TOWED_I                   181112 non-null   object
 19  FIRE_I                    1188 non-null     object
 20  OCCUPANT_CNT              1439674 non-null  float64
 21  EXCEED_SPEED_LIMIT_I      2397 non-null     object
 22  TOWED_BY                  135298 non-null   object
 23  TOWED_TO                  83272 non-null    object
 24  AREA_00_I                 51730 non-null    object
 25  AREA_01_I                 390692 non-null   object
 26  AREA_02_I                 236041 non-null   object
 27  AREA_03_I                 140245 non-null   object
 28  AREA_04_I                 141169 non-null   object
 29  AREA_05_I                 218874 non-null   object
 30  AREA_06_I                 228709 non-null   object
 31  AREA_07_I                 208279 non-null   object
 32  AREA_08_I                 216804 non-null   object
 33  AREA_09_I                 91248 non-null    object
 34  AREA_10_I                 132225 non-null   object
 35  AREA_11_I                 258240 non-null   object
 36  AREA_12_I                 253662 non-null   object
 37  AREA_99_I                 163988 non-null   object
 38  FIRST_CONTACT_POINT       1436590 non-null  object
 39  CMV_ID                    15356 non-null    float64
 40  USDOT_NO                  8735 non-null     object
 41  CCMC_NO                   1894 non-null     object
 42  ILCC_NO                   1317 non-null     object
 43  COMMERCIAL_SRC            10326 non-null    object
 44  GVWR                      8652 non-null     object
 45  CARRIER_NAME              14683 non-null    object
 46  CARRIER_STATE             13796 non-null    object
 47  CARRIER_CITY              13546 non-null    object
 48  HAZMAT_PLACARDS_I         301 non-null      object
 49  HAZMAT_NAME               56 non-null       object
 50  UN_NO                     522 non-null      object
 51  HAZMAT_PRESENT_I          11210 non-null    object
 52  HAZMAT_REPORT_I           10886 non-null    object
 53  HAZMAT_REPORT_NO          1 non-null        object
 54  MCS_REPORT_I              10934 non-null    object
 55  MCS_REPORT_NO             7 non-null        object
 56  HAZMAT_VIO_CAUSE_CRASH_I  11051 non-null    object
 57  MCS_VIO_CAUSE_CRASH_I     10844 non-null    object
 58  IDOT_PERMIT_NO            850 non-null      object
 59  WIDE_LOAD_I               128 non-null      object
 60  TRAILER1_WIDTH            2735 non-null     object
 61  TRAILER2_WIDTH            324 non-null      object
 62  TRAILER1_LENGTH           2222 non-null     float64
 63  TRAILER2_LENGTH           65 non-null       float64
 64  TOTAL_VEHICLE_LENGTH      2699 non-null     float64
 65  AXLE_CNT                  4008 non-null     float64
 66  VEHICLE_CONFIG            12720 non-null    object
 67  CARGO_BODY_TYPE           12154 non-null    object
 68  LOAD_TYPE                 11624 non-null    object
 69  HAZMAT_OUT_OF_SERVICE_I   10560 non-null    object
 70  MCS_OUT_OF_SERVICE_I      10806 non-null    object
 71  HAZMAT_CLASS              1018 non-null     object
dtypes: float64(9), int64(2), object(61)
memory usage: 809.0+ MB

In [34]:
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722809 entries, 0 to 722808
Data columns (total 49 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                722809 non-null  object
 1   RD_NO                          718253 non-null  object
 2   CRASH_DATE_EST_I               54664 non-null   object
 3   CRASH_DATE                     722809 non-null  object
 4   POSTED_SPEED_LIMIT             722809 non-null  int64
 5   TRAFFIC_CONTROL_DEVICE         722809 non-null  object
 6   DEVICE_CONDITION               722809 non-null  object
 7   WEATHER_CONDITION              722809 non-null  object
 8   LIGHTING_CONDITION             722809 non-null  object
 9   FIRST_CRASH_TYPE               722809 non-null  object
 10  TRAFFICWAY_TYPE                722809 non-null  object
 11  LANE_CNT                       199002 non-null  float64
 12  ALIGNMENT                      722809 non-null  object
 13  ROADWAY_SURFACE_COND           722809 non-null  object
 14  ROAD_DEFECT                    722809 non-null  object
 15  REPORT_TYPE                    702521 non-null  object
 16  CRASH_TYPE                     722809 non-null  object
 17  INTERSECTION_RELATED_I         165794 non-null  object
 18  NOT_RIGHT_OF_WAY_I             33751 non-null   object
 19  HIT_AND_RUN_I                  225032 non-null  object
 20  DAMAGE                         722809 non-null  object
 21  DATE_POLICE_NOTIFIED           722809 non-null  object
 22  PRIM_CONTRIBUTORY_CAUSE        722809 non-null  object
 23  SEC_CONTRIBUTORY_CAUSE         722809 non-null  object
 24  STREET_NO                      722809 non-null  int64
 25  STREET_DIRECTION               722805 non-null  object
 26  STREET_NAME                    722808 non-null  object
 27  BEAT_OF_OCCURRENCE             722804 non-null  float64
 28  PHOTOS_TAKEN_I                 9081 non-null    object
 29  STATEMENTS_TAKEN_I             15398 non-null   object
 30  DOORING_I                      2186 non-null    object
 31  WORK_ZONE_I                    4209 non-null    object
 32  WORK_ZONE_TYPE                 3290 non-null    object
 33  WORKERS_PRESENT_I              1085 non-null    object
 34  NUM_UNITS                      722809 non-null  int64
 35  MOST_SEVERE_INJURY             721233 non-null  object
 36  INJURIES_TOTAL                 721244 non-null  float64
 37  INJURIES_FATAL                 721244 non-null  float64
 38  INJURIES_INCAPACITATING        721244 non-null  float64
 39  INJURIES_NON_INCAPACITATING    721244 non-null  float64
 40  INJURIES_REPORTED_NOT_EVIDENT  721244 non-null  float64
 41  INJURIES_NO_INDICATION         721244 non-null  float64
 42  INJURIES_UNKNOWN               721244 non-null  float64
 43  CRASH_HOUR                     722809 non-null  int64
 44  CRASH_DAY_OF_WEEK              722809 non-null  int64
 45  CRASH_MONTH                    722809 non-null  int64
 46  LATITUDE                       718130 non-null  float64
 47  LONGITUDE                      718130 non-null  float64
 48  LOCATION                       718130 non-null  object
dtypes: float64(11), int64(6), object(32)
memory usage: 270.2+ MB

In [38]:
# Function to display the head of our datasets
def display_data_head(people,vehicles, crashes):
    dfs = [people.head(), vehicles.head(),crashes.head()]
    df_names = ["people", "vehicles","crashes"]
    for df, name in zip(dfs, df_names):
        print(f"\n{name}:\n")
        display(df)
# Display the head of our datasets
display_data_head(people,vehicles,crashes)

people:

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,O1577624,DRIVER,e8d0a18503a3ef7a69ee631eacffd421ea154ea9782131...,NaN,1500926.0,05/17/2023 10:20:00 AM,NaN,CHICAGO,IL,60637,...,NaN,IMPROPER PARKING,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,O1577610,DRIVER,0690865a402d40a7eab391f94a658b48dc03abb636a03a...,NaN,1500906.0,05/17/2023 10:10:00 AM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,O1577611,DRIVER,0690865a402d40a7eab391f94a658b48dc03abb636a03a...,NaN,1500913.0,05/17/2023 10:10:00 AM,NaN,VALPARAISO,IN,46385,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
3,O1577604,DRIVER,fe7d5f687f472c631a7a3516d0047a3cf7a8ab2cb0b6a4...,NaN,1500903.0,05/17/2023 10:05:00 AM,NaN,CHICAGO,IL,60613,...,NaN,UNKNOWN,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
4,O1577605,DRIVER,fe7d5f687f472c631a7a3516d0047a3cf7a8ab2cb0b6a4...,NaN,1500907.0,05/17/2023 10:05:00 AM,NaN,CHICAGO,IL,60660,...,NaN,UNKNOWN,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN

vehicles:

,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,1577434,25d92973475a04a93e7fd206fbfce57e8a9a1e25cc85a7...,NaN,05/16/2023 11:12:00 PM,1,DRIVER,NaN,1500741.0,NaN,HONDA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1577435,25d92973475a04a93e7fd206fbfce57e8a9a1e25cc85a7...,NaN,05/16/2023 11:12:00 PM,2,DRIVER,1.0,1500742.0,NaN,CHEVROLET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1577450,375ac7f6fcb4ef73d728edc52ed556f23fd465a351833f...,NaN,05/16/2023 11:06:00 PM,1,DRIVER,NaN,1500759.0,NaN,DODGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1577451,375ac7f6fcb4ef73d728edc52ed556f23fd465a351833f...,NaN,05/16/2023 11:06:00 PM,2,DRIVER,NaN,1500760.0,NaN,TOYOTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1577452,375ac7f6fcb4ef73d728edc52ed556f23fd465a351833f...,NaN,05/16/2023 11:06:00 PM,3,DRIVER,NaN,1500761.0,NaN,FORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

crashes:

,CRASH_RECORD_ID,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,25d92973475a04a93e7fd206fbfce57e8a9a1e25cc85a7...,NaN,NaN,05/16/2023 11:12:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",REAR END,...,0.0,0.0,3.0,0.0,23,3,5,41.952691,-87.807413,POINT (-87.807413247555 41.952691362649)
1,375ac7f6fcb4ef73d728edc52ed556f23fd465a351833f...,NaN,NaN,05/16/2023 11:06:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,"DARKNESS, LIGHTED ROAD",REAR TO FRONT,...,0.0,0.0,3.0,0.0,23,3,5,41.997837,-87.688814,POINT (-87.688813887189 41.997837266972)
2,246fea010af2010860046c6ef36efb75a8c60244088939...,NaN,NaN,05/16/2023 11:05:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,"DARKNESS, LIGHTED ROAD",PARKED MOTOR VEHICLE,...,0.0,0.0,1.0,0.0,23,3,5,42.002331,-87.695032,POINT (-87.695032165757 42.002331485776)
3,18c220f7eeceb2cf6f9512c9b83382da28d8565fbbaaec...,NaN,NaN,05/16/2023 10:20:00 PM,25,NO CONTROLS,NO CONTROLS,CLEAR,DARKNESS,PEDALCYCLIST,...,1.0,0.0,1.0,0.0,22,3,5,41.827340,-87.636475,POINT (-87.636475000374 41.827339537397)
4,cfecdce601503162eb09337bd6051ea358dca7294d440b...,NaN,NaN,05/16/2023 09:45:00 PM,30,UNKNOWN,FUNCTIONING PROPERLY,CLEAR,DARKNESS,REAR END,...,0.0,0.0,2.0,0.0,21,3,5,41.808853,-87.640097,POINT (-87.640097485203 41.808853153697)

# Data cleaning
### Cheaking for duplicates

In [39]:
# A function to check for duplicates in our datasets
def check_duplicates(df):
    """
    This function checks for and returns any duplicates in a given dataframe.
    """
    duplicates = df[df.duplicated()]
    if duplicates.shape[0] == 0:
        print("No duplicates found in the dataset")
    else:
        print("Duplicates found in the dataset:")
        return duplicates
# Calling for the function to check for duplicates
check_duplicates(people)
check_duplicates(vehicles)
check_duplicates(crashes)

No duplicates found in the dataset
No duplicates found in the dataset
No duplicates found in the dataset

The data had no duplicates 

### cheaking missing values

In [40]:
# A function to check for missing values in our dataset
def check_missing_values(data):
    # Count missing values in each column
    missing_values = data.isnull().sum()

    # Convert missing values count to percentage of total rows
    missing_percent = (missing_values / len(data)) * 100

    # Combine the missing values count and percent into a DataFrame
    missing_df = pd.concat([missing_values, missing_percent], axis=1)
    missing_df.columns = ['Missing Values', '% of Total']

    # Return only columns with missing values
    missing_df = missing_df[missing_df['Missing Values'] > 0]

    return missing_df

# Check missing values in each dataset
display(check_missing_values(people))
display(check_missing_values(vehicles))
display(check_missing_values(crashes))

                       Missing Values  % of Total
RD_NO                           10391    0.655742
VEHICLE_ID                      30990    1.955679
SEAT_NO                       1264026   79.768600
CITY                           428253   27.025664
STATE                          412344   26.021699
ZIPCODE                        526652   33.235307
SEX                             25165    1.588082
AGE                            461377   29.116013
DRIVERS_LICENSE_STATE          653398   41.233838
DRIVERS_LICENSE_CLASS          799167   50.432849
SAFETY_EQUIPMENT                 4472    0.282213
AIRBAG_DEPLOYED                 29793    1.880140
EJECTION                        19342    1.220611
INJURY_CLASSIFICATION             688    0.043417
HOSPITAL                      1313877   82.914536
EMS_AGENCY                    1416635   89.399261
EMS_RUN_NO                    1556914   98.251816
DRIVER_ACTION                  323450   20.411885
DRIVER_VISION                  323903   20.440473
PHYSICAL_CONDITION             322571   20.356414
PEDPEDAL_ACTION               1555225   98.145229
PEDPEDAL_VISIBILITY           1555283   98.148889
PEDPEDAL_LOCATION             1555226   98.145292
BAC_RESULT                     322427   20.347327
BAC_RESULT VALUE              1582757   99.882685
CELL_PHONE_USE                1583458   99.926922

                         Missing Values  % of Total
RD_NO                              9403    0.638437
UNIT_TYPE                          2008    0.136337
NUM_PASSENGERS                  1254802   85.197472
VEHICLE_ID                        33142    2.250247
CMRC_VEH_I                      1445283   98.130588
...                                 ...         ...
CARGO_BODY_TYPE                 1460662   99.174778
LOAD_TYPE                       1461192   99.210764
HAZMAT_OUT_OF_SERVICE_I         1462256   99.283006
MCS_OUT_OF_SERVICE_I            1462010   99.266303
HAZMAT_CLASS                    1471798   99.930881

[68 rows x 2 columns]

                               Missing Values  % of Total
RD_NO                                    4556    0.630319
CRASH_DATE_EST_I                       668145   92.437283
LANE_CNT                               523807   72.468245
REPORT_TYPE                             20288    2.806827
INTERSECTION_RELATED_I                 557015   77.062543
NOT_RIGHT_OF_WAY_I                     689058   95.330578
HIT_AND_RUN_I                          497777   68.867017
STREET_DIRECTION                            4    0.000553
STREET_NAME                                 1    0.000138
BEAT_OF_OCCURRENCE                          5    0.000692
PHOTOS_TAKEN_I                         713728   98.743652
STATEMENTS_TAKEN_I                     707411   97.869700
DOORING_I                              720623   99.697569
WORK_ZONE_I                            718600   99.417688
WORK_ZONE_TYPE                         719519   99.544831
WORKERS_PRESENT_I                      721724   99.849891
MOST_SEVERE_INJURY                       1576    0.218038
INJURIES_TOTAL                           1565    0.216516
INJURIES_FATAL                           1565    0.216516
INJURIES_INCAPACITATING                  1565    0.216516
INJURIES_NON_INCAPACITATING              1565    0.216516
INJURIES_REPORTED_NOT_EVIDENT            1565    0.216516
INJURIES_NO_INDICATION                   1565    0.216516
INJURIES_UNKNOWN                         1565    0.216516
LATITUDE                                 4679    0.647336
LONGITUDE                                4679    0.647336
LOCATION                                 4679    0.647336